.services{
    height: 85vh;
    position: relative;
    margin: 10vh 5vh 0px 5vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    h3{
        grid-row: 3 / span 2;
        grid-column: 3 / span 8;
        font-size: 2rem;
        font-weight: 400;
    }
}