.videoLanding{
    position: relative;
    height: 90vh;
    margin: -15vh 0vh 0px 0vh;
    background-color: #161616;
    overflow: hidden;
    .landingVideo{
        position: relative;
    }
    img{
        width: 100%;
    }
}